<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jay Shree Krishna Consultants</title>
    <link rel="preload" as="image" href="/assets/hero_image.16eb64fe.avif">
    <script type="module" crossorigin src="/assets/index.250f462b.js"></script>
    <link rel="stylesheet" href="/assets/index.6e11e369.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
